*{
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #42bfdd;
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    background-color: #084b83;
    color: rgb(255, 255, 255);
    font-size: large;
    height: fit-content;
    padding: 30px;
    text-align: left;
}

.form-container a { 
    background-color: #c1e8e6;
    color: black;
    border-radius: 5px;
    display: inline-block;
    position: relative; 
    left: -20lh; 
    text-decoration: none;
    top: relative;

}

.leaderboard{
    background-color: #c1e8e6;
    color: black;
    border-radius: 5px;
    display: inline-block;
    position: relative; 
    left: 13.5lh;
    top: 1lh;
}

h1{
    animation: vonRechts 3s;
  }

@keyframes vonRechts {
    from {transform: scale(0.5);}
    to {transform: scale(1);}
  }
 