/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #42bfdd;
    color: #084b83;
}

/* Header styling */
header#header {
    background-color: #084b83;
    color: #BBE6E4;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header#header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Form container styling */
form {
    max-width: 600px;
    margin: 30px auto;
    background-color: #BBE6E4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form div {
    margin-bottom: 20px;
}

form p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Radio button styling */
form input[type="radio"] {
    margin-right: 10px;
}

/* Submit button styling */
form input[type="submit"] {
    display: block;
    width: 100%;
    background-color: #084b83;
    color: #BBE6E4;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #042f59;
}


/* Styling for the page */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

/* Timer display */
#timerDisplay {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Button style for copy link */
#copyButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#copyButton:hover {
    background-color: #45a049;
}

/* Form styling */
form {
    text-align: center;
}

